/* ===== General CSs ===== */

html, body {
	font-smoothing: antialiased !important;
	-webkit-font-smoothing: antialiased !important;
}

p {
	line-height: 1.9em;
	color: #646464;
}

/* ===== Misc ===== */

.p20 {
	padding: 20px !important;
}
.pt20 {
	padding-top: 20px !important;
}
.pb20 {
	padding-bottom: 20px !important;
}
.p50 {
	padding: 50px !important;
}
.pt50 {
	padding-top: 50px !important;
}
.pb50 {
	padding-bottom: 50px !important;
}

.m20 {
	margin: 20px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.m50 {
	margin: 50px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mb50 {
	margin-bottom: 50px !important;
}

.wrapper {
	display: block;
}
.bg {
	background: #f4f4f4;
}

/* ===== Menu ===== */

.menu {
	margin-top: 8px;
}
.menu ul {
	list-style-type: none;
}
.menu li {
	display: inline-block;
	margin-right: 15px;
	position: relative;
}
.menu ul li a {
	line-height: 1.1px;
	color: #363636;
	transition: color .25s ease;
	-webkit-transition : color .25s ease;
}
.menu ul li a:hover {
	color: orange;
	text-decoration: none;
	box-sizing: none !important;
}
.menu ul li a:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	left: 0;
	right: 0;
	background-color: orange;
	transition: width .5s ease, background-color .5s ease;
	box-sizing: none !important;
}

.menu ul li a:hover:after {
	width: 100%;
	background-color: orange;
	box-sizing: none !important;
}

/* ===== Flex Slider ===== */

.flexslider {
	margin: 0 !important;
	border: none !important;
	overflow: hidden;
	border-radius: 0 !important;
	max-height: 510px;
	height: 100%;
}

.flex-caption {
	position: absolute;
	z-index: 12;
	width: 100%;
	top: 10%;  
}
.footer-link ul {
	list-style-type: none;	
}

.footer-link ul li a:hover {
	text-decoration: none;
}

/* ===== Text Enhancement and Typography ===== */

/* Text Size */
.text72 {
	font-size: 72px;
}
.text65 {
	font-size: 65px;
}
.text42 {
	font-size: 42px;
}
.text36 {
	font-size: 36px;
}
.text28 {
	font-size: 28px;
}
.text25 {
	font-size: 25px;
}
.text22 {
	font-size: 22px;
}
.text20 {
	font-size: 20px;
}
.text18 {
	font-size: 18px;
}
.text16 {
	font-size: 16px;
}
.text15 {
	font-size: 15px;
}
.text14 {
	font-size: 14px;
}
.text12 {
	font-size: 12px;
}
.text-menu {
	line-height: 1.1;
	letter-spacing: 1px;
	word-spacing: 2px;
}
.text {
	line-height: 1.1;
}

/* Font Weight */
.text400 {
	font-weight: 400;
}
.text300 {
	font-weight: 300;
}
.text100 {
	font-weight: 100;
}

/* Text Color */
.text-white {
	color: white !important;
}
.text-orange {
	color: orange !important;
}
.text-red {
	color: red !important;
}
.text-blue {
	color: blue !important;
}
.text-nice {
	color: #8d8d8d !important;
}
.text-mute {
	color: #818181 !important;
}

/* Font Family */
.roboto {
	font-family: "Roboto", sans-serif !important;
}
.raj {
	font-family: 'Rajdhani', sans-serif;
}
.shadow {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.uppercase {
	text-transform: uppercase;
}


/* ===== Sections ===== */

.about-us {

}
.packages {

}

/* ===== Others ===== */

.footer-link {
	background: #262626;
	padding: 80px 0;
}
.footer-link a {
	color: #818181;
	line-height: 1.5;
}
.footer-link a:hover {
	color: white;
}

.item-thumb {
    position: relative;
    overflow: hidden;
    transition: opacity 500ms ease;
}
.item-thumb:hover .caption {
	opacity: 1;
}
.caption {
	background: rgba(0,0,0,0.5);
    position: absolute;
	top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
}
footer {
	background: #1b1b1b;
}
footer a {
	color: #818181;
}
footer a:hover {
	color: #818181;
	text-decoration: none;
}

/* ===== Sticky Bar ===== */

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background: white;
    height: 70px;
    box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15);
}
.sticky-img {
	height: 50px !important;
}

/* ===== Buttons ===== */

.btn-common {
	vertical-align: middle;
	background: none;
	zoom: 1;
	color: white;
	padding: 10px 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	border: 1px solid #e1e1e1;
	cursor: pointer;
	display: inline-block;
	transition: border-color .25s ease;
}
.btn-common:hover {
	color: orange;
	border-color: orange;

}